.App {
  text-align: center;
}

/**painting*/
    /**pictorial*/
    .row .relative {
        position: relative;
        min-height: 75vh;
    }

    .pictorial {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: -10px;
    }
    
    .upper {
        z-index: 10;
    }
    
    /**navigator*/
    .input-field {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .static>label {
        position: static;
    }

    .top-label>label {
        top: -7px;
    }
    
    h5.range-field {
        font-size: 1.2rem;
        line-height: 180%;
    }

    /**ownfractal*/
    .center .collapsible-header {
        display: inherit;
    }
    
    .ownFractal textarea.materialize-textarea {
        width: 85%;
    }
    
    .ownFractal i.material-icons.tiny {
        cursor: pointer;
    }

/**header*/
a.brand-logo {
    padding: 0 15px;
}

nav ul a {
    font-size: 1.3rem;
}
