.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**painting*/
    /**pictorial*/
    .row .relative {
        position: relative;
        min-height: 75vh;
    }

    .pictorial {
        position: absolute;
        width: 94%;
        min-height: 73vh;
    }
    
    .upper {
        z-index: 10;
    }
    
    /**navigator*/
    .input-field {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .static>label {
        position: static;
    }

    .top-label>label {
        top: -7px;
    }
    
    h5.range-field {
        font-size: 1.2rem;
        line-height: 180%;
    }

    /**ownfractal*/
    .center .collapsible-header {
        display: inherit;
    }
    
    .ownFractal textarea.materialize-textarea {
        width: 85%;
    }
    
    .ownFractal i.material-icons.tiny {
        cursor: pointer;
    }

/**header*/
a.brand-logo {
    padding: 0 15px;
}

nav ul a {
    font-size: 1.3rem;
}
